/* .project-card {
  background: url("../../../../public/fotis-fotopoulos-6sAl6aQ4OWI-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.project-card:hover .hover-overlay {
  bottom: 0;
  transition: 0.3s;
  z-index: 20;
}

.hover-overlay {
  backdrop-filter: blur(5px);
  bottom: -100%;
}

.background-overlay {
  background: linear-gradient(90deg,
      #8080f181,
      #997bec88,
      #b076e68c,
      #c371de88,
      #d36cd586,
      #e76ac686,
      #f66cb688,
      #ff70a48a,
      #ff809186,
      #ff938283,
      #ffa77b7e,
      #f8bb7e86),
    rgba(0, 0, 0, 0.4);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}