.text-gradient-animation {
  background: linear-gradient(var(--gradient-angle),
      #8080f1,
      #997bec,
      #af76e6,
      #c371de,
      #d46cd5,
      #e76ac5,
      #f66cb5,
      #ff70a5,
      #ff8091,
      #ff9382,
      #ffa77b,
      #f8bb7e);
  animation: rotation 5s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


circle,
rect,
line {
  stroke-width: 10px;
  stroke-linecap: round;
  fill: transparent;
}